@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #fefefe;
}

.profile-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width:  370px;
    width: 100%;

    /* height  ကမလိုသေးဘူး  align-items   ဖြစ်ပေမယ့်လို့ ဘာလို့လဲဆိုတော့  flex-direction က  column  ဆိုတော့ တောင်လိုက်ဖြစ်သွားလို့  height  မလိုတော့တာဖြစ်တယ် */
    /* height: 600px; */

    /* background-color: red; */
    border-radius: 24px;
    border: none;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
    position: relative;
}

.profile-card::before{
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    content: '';
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #4070f4;
}


.profile-card .image{
    margin-top: 20px;
    /* background-color: blue; */
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #4070f4;
    padding: 3px;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    columns: #333;
    margin-top: 15px;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 18px;
    font-weight: 400;
}

.media-buttons {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.media-buttons .link{
    padding: 0 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #fefefe;
    margin: 8px;
}

.profile-card .button{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.button button{
    padding: 10px 24px;
    border-radius: 24px;
    margin: 0 10px;
    border: none;
    font-size: 15px;
    background-color: #4070f4;
    color: white;
    cursor: pointer;
}

.button button:hover{
    background-color: #0e4bf1;
}

.analystics{
    margin-bottom: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.analystics .data{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 2px solid #cac1c1;
}

.data:last-child{
    border-right: none;
}

.data i{
    margin-right: 5px;
    font-size: 20px;
}
